<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Register your interest in the Annual Touch Tournament to Raise Funds for Kahn Marshall" />
    <meta name="keywords" content="Kahn Marshall, Touch Rugby, Touch Tournament" />
    <meta name="author" content="Gavin Downes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Annual Tournament</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            @*<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Annual Tournament", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@
            @*<div class="navbar-collapse collapse">*@
            <ul class="nav navbar-nav" style="width: 100%;">
                <li class="col-xs-3 text-center">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("The Cause", "About", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("Register", "Register", "Home")</li>
                @*@Html.Partial("_LoginPartial")*@
            </ul>
            @*</div>*@
        </div>
    </div>
    @*<div class="banner-container">

            <img class="img-responsive center-block" src="~/Content/Images/BannerImage.jpg" alt="banner image" style="height:100%" />

        @*<div class="col-md-4 col-md-offset-4 banner-logo">
            <div class="col-xs-4" id="circle">
            </div>
            <div class="col-xs-8">
                <h1>Annual Tournament</h1>
            </div>
        </div>*@
    @*</div>*@

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Annual Tournament</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>