<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Register your interest in the Annual Touch Tournament to Raise Funds for Kahn Marshall" />
    <meta name="keywords" content="Kahn Marshall, Touch Rugby, Touch Tournament" />
    <meta name="author" content="Gavin Downes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://annualtournamentwebapp.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Annual Tournament" />
    <meta property="og:description" content="Register your interest in the Annual Touch Tournament to Raise Funds for Kahn Marshall" />
    <meta property="og:image" content="http://annualtournamentwebapp.azurewebsites.net/Content/Images/BannerImage.jpg" />

    <title>@ViewBag.Title - Annual Tournament</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1325645604222666";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="navbar navbar-inverse">
        <div class="container">
            @*<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Annual Tournament", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@
            @*<div class="navbar-collapse collapse">*@
            <ul class="nav navbar-nav" style="width: 100%;">
                <li class="col-xs-3 text-center">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("The Cause", "About", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="col-xs-3 text-center">@Html.ActionLink("Register", "Register", "Home")</li>
                @*@Html.Partial("_LoginPartial")*@
            </ul>
            @*</div>*@
        </div>
    </div>
    <div class="container body-content">
        <div class="col-sm-3">
            <a class="btn btn-lg btn-block btn-social btn-twitter" href="https://twitter.com/intent/tweet?url=http://annualtournamentwebapp.azurewebsites.net/&text='Register Your Interest For The Annual Tournament'">
                <span class="fa fa-twitter"></span> Share
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-lg btn-block btn-social btn-facebook" id="shareBtn">
                <span class="fa fa-facebook"></span>Share
            </a>
        </div>
       
        @RenderBody()
    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Annual Tournament</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        document.getElementById('shareBtn').onclick = function () {
            FB.ui({
                app_id: '1325645604222666',
                method: 'share',
                display: 'popup',
                href: 'http://annualtournamentwebapp.azurewebsites.net/',
            }, function (response) { });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>