@using AnnualTournament.Models
@model EnquiryViewModel

@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">@ViewBag.Title.</h2>

<div class="col-md-6 col-md-offset-3">

    <div>
        <h2 class="text-center">Make Enquiry</h2>
        @using (Html.BeginForm("Enquire", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="form-group">
                @*@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter Name here" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Enter Email Address here" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Enter Phone Number here" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Enter Message here" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>
        }
    </div>
</div>