@using AnnualTournament.Models
@{
    ViewBag.Title = "Register Your Interest";
}
@model RegisterExpressionOfInterestViewModel

<h2 class="text-center">@ViewBag.Title.</h2>

<div class="col-md-6 col-md-offset-3">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <div class="form-group">
            @*@Html.LabelFor(m => m.TeamName, new { @class = "col-md-2 control-label" })*@
            <div class="">
                @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control", @placeholder = "Enter Team Name here" })
                @Html.ValidationMessageFor(m => m.TeamName,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.TeamManagerName, new { @class = "col-md-2 control-label" })*@
            <div class="">
                @Html.TextBoxFor(m => m.TeamManagerName, new { @class = "form-control", @placeholder = "Enter Manager here" })
                @Html.ValidationMessageFor(m => m.TeamManagerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.TeamEmailAddress, new { @class = "col-md-2 control-label" })*@
            <div class="">
                @Html.TextBoxFor(m => m.TeamEmailAddress, new { @class = "form-control", @placeholder = "Enter Email here" })
                @Html.ValidationMessageFor(m => m.TeamEmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.MobileNumber, new { @class = "col-md-2 control-label" })*@
            <div class="">
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Enter Mobile here" })
                @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.AlternateContactName, new { @class = "col-md-2 control-label" })*@
            <div class="">
                @Html.TextBoxFor(m => m.AlternateContactName, new { @class = "form-control", @placeholder = "Enter Alternate Contact here" })
                @Html.ValidationMessageFor(m => m.AlternateContactName, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.AlternateEmail, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextBoxFor(m => m.AlternateEmail, new { @class = "form-control", @placeholder = "Enter Alternate Email here" })
                    @Html.ValidationMessageFor(m => m.AlternateEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.AlternateMobileNumber, new { @class = "col-md-2 control-label" })*@
                <div class="">
                    @Html.TextBoxFor(m => m.AlternateMobileNumber, new { @class = "form-control", @placeholder = "Enter Alternate Mobile here" })
                    @Html.ValidationMessageFor(m => m.AlternateMobileNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}