<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Back To Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav admin">
                    <li>
                        <a href="@Url.Action("index", "ExpressionOfInterests")" class="">
                            <i class="fa fa-pencil-square-o fa-6" aria-hidden="true"></i>Expressions Of Interests
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Notification")" class="">
                            <i class="fa fa-envelope-o fa-6" aria-hidden="true"></i> Notifications
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "AdminUser")" class="">
                            <i class="fa fa-user-o fa-6"></i> Admin Users
                        </a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav admin pull-right">
                    <li>
                        <a href="@Url.Action("ProfilePage", "AdminUser")" class="nav-right">@User.Identity.Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>